/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'Helvetica';
  src: url("/fonts/Helvetica.woff2") format("woff2"), url("/fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url("/fonts/Helvetica-Bold.woff2") format("woff2"), url("/fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;
  font-family: Helvetica;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container-sm {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-family: helvetica;
  text-transform: uppercase;
  color: #202124;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  background: #F6F8F9;
  font-family: helvetica;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F6F8F9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__logo h1 {
  font-size: 13px;
  font-family: helvetica;
  color: #FA6980;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 43px;
}

.header__nav__wrapper--link {
  padding: 19px 10px;
  font-size: 11px;
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  color: #343638;
  opacity: 50%;
}

.header__nav__wrapper .active {
  opacity: 100%;
}

.header__profile img {
  cursor: pointer;
}

.header .mini-menu {
  position: fixed;
  width: 287px;
  height: 100vh;
  top: 0;
  left: -300px;
  background-color: #F6F8F9;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.header .mini-menu .burgerAndLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  padding-top: 38px;
}

.header .mini-menu .burgerAndLogo .header__logo {
  margin-left: 40px;
}

.header .mini-menu .header__nav__wrapper {
  height: 55vh;
  padding-top: 90px;
  padding-bottom: 150px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .mini-menu .header__nav__wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .mini-menu .footer__ul__wrapper {
  height: 30vh;
  background: black;
  margin-left: 0;
  margin-left: 0;
  padding-left: 40px;
  padding-top: 58px;
  opacity: 25%;
}

.header .mini-menu .footer__ul__wrapper .ul li {
  font-size: 11px;
  margin-bottom: 30px;
}

.header .mini-menu .footer__ul__wrapper__second {
  margin: 0;
  margin-right: 50px;
}

.header .mini-menu .footer__socials {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 15vh;
  background-color: black;
  opacity: 25%;
  margin-left: 0;
  padding-left: 40px;
  padding-top: 20px;
}

.header .mini-menu.active {
  left: 0;
  -webkit-filter: drop-shadow(0px 0px 60px #A6ADB4);
          filter: drop-shadow(0px 0px 60px #A6ADB4);
}

.header.scroll {
  -webkit-filter: drop-shadow(1px 1px 10px #A6ADB4);
          filter: drop-shadow(1px 1px 10px #A6ADB4);
}

.footer {
  background: #A6ADB4;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 60px;
}

.footer__logoAndUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo h1 {
  font-family: acumin;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__ul__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 61px;
}

.footer__ul__wrapper .ul li {
  margin-bottom: 8px;
  color: #CBD0D3;
}

.footer__ul__wrapper__second {
  margin: 0 40px;
}

.footer__input {
  position: relative;
}

.footer__input input {
  width: 262px;
  padding: 15px 20px;
  background: #A6ADB4;
  border: white 2px solid;
  border-radius: 5px;
  border-color: #bfbfbf;
}

.footer__input input::-webkit-input-placeholder {
  opacity: 50%;
}

.footer__input input:-ms-input-placeholder {
  opacity: 50%;
}

.footer__input input::-ms-input-placeholder {
  opacity: 50%;
}

.footer__input input::placeholder {
  opacity: 50%;
}

.footer__input img {
  position: absolute;
  top: 17px;
  right: 12px;
  cursor: pointer;
}

.footer__input p {
  font-size: 11px;
  color: #CBD0D3;
  margin-top: 16px;
}

.footer__socials img {
  margin-right: 32px;
}

.arrow-wrapper {
  position: absolute;
  top: 0;
  right: -20px;
}

.arrow-wrapper img {
  margin: 0 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .arrow-wrapper {
    right: -10px;
  }
  .arrow-wrapper img {
    margin: 0 10px;
  }
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A6ADB4;
}

.time span {
  font-size: 13px;
  margin-left: 10px;
}

@media (max-width: 1440px) {
  .footer__inner {
    margin: 0 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logoAndUl {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__input {
    width: 262px;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
  .header__burger {
    display: block;
  }
  .header__nav__wrapper {
    display: none;
  }
  .footer {
    display: none;
  }
  .mini-menu .header__nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.news {
  padding-top: 50px;
}

.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.news__main {
  position: relative;
}

.news__main--img {
  width: 840px;
}

.news__main--img img {
  max-width: 100%;
}

.news__main__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-family: helvetica;
}

.news__main__wrapper h1 {
  font-size: 24px;
}

.news__main__wrapper .line {
  width: 560px;
  height: 2px;
  margin: 40px 0;
  background: white;
}

.news__main__wrapper h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 100;
}

.news__main__wrapper button {
  padding: 15px 30px;
  font-size: 11px;
  background: #FA6980;
  border: 0;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.news__main__wrapper button:hover {
  background-color: #f83856;
}

.news__more {
  position: absolute;
  top: 100px;
  right: 100px;
  color: #343638;
  font-family: helvetica;
}

.news__more__title h1 {
  text-transform: uppercase;
  font-size: 24px;
}

.news__more .line {
  width: 425px;
  height: 2px;
  margin: 40px 0;
  background-color: #EBEDED;
}

.news__more__article__wrapper {
  margin-bottom: 40px;
}

.news__more__article__wrapper h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 16px;
  color: #FA6980;
}

.news__more__article__wrapper h3 {
  font-size: 16px;
  font-weight: bold;
}

.news__more__article__wrapper p {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #A6ADB4;
}

.trending {
  background: #F6F8F9;
  padding: 40px 0;
}

.trending__inner {
  position: relative;
}

.trending__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

@media (max-width: 1040px) {
  .trending__wrapper__card:nth-child(3) {
    display: none;
  }
}

.trending__wrapper__card {
  width: 360px;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.trending__wrapper__card--things {
  padding: 40px;
}

.trending__wrapper__card--things h1 {
  font-size: 16px;
}

.trending__wrapper__card--things p {
  font-size: 13px;
  color: #A6ADB4;
  margin: 10px 0;
}

.happening {
  background: #F6F8F9;
  padding-bottom: 100px;
}

.happening__inner {
  position: relative;
}

.happening__img__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.happening__img__wrapper__big {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.happening__img__wrapper__big__item {
  margin-top: 40px;
  position: relative;
  cursor: pointer;
}

.happening__img__wrapper__big__item--img {
  width: 760px;
}

.happening__img__wrapper__big__item--img img {
  max-width: 100%;
}

.happening__img__wrapper__big__item__title {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  color: white;
  text-transform: uppercase;
}

.happening__img__wrapper__big__item__article {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  color: white;
}

.happening__img__wrapper__big__item__article h1 {
  font-size: 24px;
}

.happening__img__wrapper__big__item__article p {
  margin: 10px 0;
}

.happening__img__wrapper__big__item__article .time {
  color: #A6ADB4;
}

.happening__img__wrapper__small {
  margin-left: 40px;
  position: relative;
}

@media (max-width: 1073px) {
  .happening__img__wrapper__small__item:nth-child(3) {
    display: none;
  }
}

.happening__img__wrapper__small__item {
  margin-top: 40px;
  cursor: pointer;
}

.happening__img__wrapper__small__item--img {
  width: 360px;
}

.happening__img__wrapper__small__item--img img {
  max-width: 100%;
}

.happening__img__wrapper__small__item__card h3 {
  margin-top: 12px;
  margin-bottom: 10px;
}

.happening__img__wrapper__small__item__card .underline {
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .news__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__main--img {
    width: 100%;
  }
  .news__main--img img {
    width: 100%;
  }
  .news__more {
    position: relative;
    margin: 100px;
    top: 0;
    right: 0;
  }
  .news__more__article__wrapper {
    padding-right: 20px;
  }
  .news__more .line {
    width: 100%;
  }
  .trending {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trending__inner {
    margin: 0 80px;
  }
  .trending__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .trending__wrapper__card {
    width: 284px;
  }
  .trending__wrapper__card--img img {
    width: 284px;
  }
  .happening__inner {
    margin: 0 80px;
  }
  .happening__img__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .happening__img__wrapper__big__item--img {
    width: 100%;
  }
  .happening__img__wrapper__big__item--img img {
    width: 100%;
  }
  .happening__img__wrapper__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .happening__img__wrapper__small__item--img {
    width: 300px;
  }
  .two-article-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .news {
    padding-top: 34px;
  }
  .news__main {
    height: 60vh;
  }
  .news__main--img img {
    height: 60vh;
  }
  .news__main__wrapper {
    width: 90%;
  }
  .news__main__wrapper .line {
    width: 100%;
  }
  .news__more {
    margin: 40px 20px;
  }
  .trending__inner {
    margin: 0 24px;
  }
  .trending__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trending__wrapper__card {
    width: 100%;
    margin-bottom: 40px;
  }
  .trending__wrapper__card--img img {
    width: 100%;
  }
  .happening {
    padding-bottom: 24px;
  }
  .happening__inner {
    margin: 0 24px;
  }
  .happening__img__wrapper__big__item--img img {
    height: 300px;
  }
  .happening__img__wrapper__big__item__title {
    top: 24px;
    left: 24px;
    right: 24px;
  }
  .happening__img__wrapper__big__item__article {
    left: 24px;
    right: 24px;
    bottom: 40px;
  }
  .happening__img__wrapper__small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .happening__img__wrapper__small__item:nth-child(3) {
    display: block;
  }
  .happening__img__wrapper__small__item--img {
    width: 100%;
  }
  .happening__img__wrapper__small__item--img img {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .news__more .two-article-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__more__article__wrapper:nth-child(2) {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */