/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'BPG Arial';
  src: url("../fonts/BPGArial.eot");
  src: url("../fonts/BPGArial.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGArial.woff2") format("woff2"), url("../fonts/BPGArial.woff") format("woff"), url("../fonts/BPGArial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url("../fonts/BPGNinoMtavruli-Bold.eot");
  src: url("../fonts/BPGNinoMtavruli-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli-Bold.woff") format("woff"), url("../fonts/BPGNinoMtavruli-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "helvetica";
  src: url("/fonts/Helvetica.ttf");
}

@font-face {
  font-family: "acumin";
  src: url("/fonts/acuminpro.ttf");
}

body {
  position: relative;
  font-family: Helvetica;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container-sm {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-family: helvetica;
  text-transform: uppercase;
  color: #202124;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  background: #F6F8F9;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F6F8F9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__logo h1 {
  font-size: 13px;
  font-family: helvetica;
  color: #FA6980;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 43px;
}

.header__nav__wrapper--link {
  padding: 19px 10px;
  font-size: 11px;
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  color: #343638;
  opacity: 50%;
}

.header__nav__wrapper .active {
  opacity: 100%;
}

.header__profile img {
  cursor: pointer;
}

.header .mini-menu {
  position: fixed;
  width: 287px;
  height: 100vh;
  top: 0;
  left: -300px;
  background-color: #F6F8F9;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.header .mini-menu .burgerAndLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  padding-top: 38px;
}

.header .mini-menu .burgerAndLogo .header__logo {
  margin-left: 40px;
}

.header .mini-menu .header__nav__wrapper {
  height: 55vh;
  padding-top: 90px;
  padding-bottom: 150px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .mini-menu .header__nav__wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .mini-menu .footer__ul__wrapper {
  height: 30vh;
  background: black;
  margin-left: 0;
  margin-left: 0;
  padding-left: 40px;
  padding-top: 58px;
  opacity: 25%;
}

.header .mini-menu .footer__ul__wrapper .ul li {
  font-size: 11px;
  margin-bottom: 30px;
}

.header .mini-menu .footer__ul__wrapper__second {
  margin: 0;
  margin-right: 50px;
}

.header .mini-menu .footer__socials {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 15vh;
  background-color: black;
  opacity: 25%;
  margin-left: 0;
  padding-left: 40px;
  padding-top: 20px;
}

.header .mini-menu.active {
  left: 0;
  -webkit-filter: drop-shadow(0px 0px 60px #A6ADB4);
          filter: drop-shadow(0px 0px 60px #A6ADB4);
}

.header.scroll {
  -webkit-filter: drop-shadow(1px 1px 10px #A6ADB4);
          filter: drop-shadow(1px 1px 10px #A6ADB4);
}

.footer {
  background: #A6ADB4;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 60px;
}

.footer__logoAndUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo h1 {
  font-family: acumin;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__ul__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 61px;
}

.footer__ul__wrapper .ul li {
  margin-bottom: 8px;
  color: #CBD0D3;
}

.footer__ul__wrapper__second {
  margin: 0 40px;
}

.footer__input {
  position: relative;
}

.footer__input input {
  width: 262px;
  padding: 15px 20px;
  background: #A6ADB4;
  border: white 2px solid;
  border-radius: 5px;
  border-color: #bfbfbf;
}

.footer__input input::-webkit-input-placeholder {
  opacity: 50%;
}

.footer__input input:-ms-input-placeholder {
  opacity: 50%;
}

.footer__input input::-ms-input-placeholder {
  opacity: 50%;
}

.footer__input input::placeholder {
  opacity: 50%;
}

.footer__input img {
  position: absolute;
  top: 17px;
  right: 12px;
  cursor: pointer;
}

.footer__input p {
  font-size: 11px;
  color: #CBD0D3;
  margin-top: 16px;
}

.footer__socials img {
  margin-right: 32px;
}

.arrow-wrapper {
  position: absolute;
  top: 0;
  right: -20px;
}

.arrow-wrapper img {
  margin: 0 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .arrow-wrapper {
    right: -10px;
  }
  .arrow-wrapper img {
    margin: 0 10px;
  }
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A6ADB4;
}

.time span {
  font-size: 13px;
  margin-left: 10px;
}

@media (max-width: 1440px) {
  .footer__inner {
    margin: 0 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logoAndUl {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__input {
    width: 262px;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
  .header__burger {
    display: block;
  }
  .header__nav__wrapper {
    display: none;
  }
  .footer {
    display: none;
  }
  .mini-menu .header__nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

* {
  font-family: helvetica;
}

.worldNews {
  padding-bottom: 40px;
  background: #F6F8F9;
  padding-top: 50px;
}

.worldNews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.worldNews__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
  text-transform: uppercase;
}

.worldNews__title .arrow-back {
  display: none;
}

.worldNews__title .filter {
  display: none;
}

.worldNews__title span:nth-child(2) {
  margin-left: 30px;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.worldNews__title span:nth-child(3) {
  margin-right: 20px;
  font-weight: bold;
}

.worldNews__title span:nth-child(4) {
  color: #A6ADB4;
  cursor: pointer;
}

.worldNews__left {
  position: relative;
  width: 580px;
}

.worldNews__left--img {
  width: 580px;
}

.worldNews__left--img img {
  max-width: 100%;
}

.worldNews__left--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.worldNews__left--text h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.worldNews__left--text div {
  width: 40px;
  height: 2px;
  background: #FA6980;
  margin: 20px auto;
}

.worldNews__left--text h3 {
  color: white;
  margin-bottom: 40px;
}

.worldNews__right {
  width: 100%;
  padding: 127px 110px;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 500px;
}

.worldNews__right .form__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.worldNews__right .form__keyword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
}

.worldNews__right .form .forms label {
  font-size: 13px;
  margin-bottom: 10px;
  font-family: acumin;
}

.worldNews__right .form .forms input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  border: 2px solid #EBEDED;
}

.worldNews__right .form .forms input:focus {
  background: white;
}

.worldNews__right .form button {
  padding: 15px 42px;
  text-transform: uppercase;
  background: #FA6980;
  border: #A6ADB4;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.worldNews__right .form button:hover {
  background-color: #f83856;
}

.article {
  background: #F6F8F9;
}

.article__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  border: 1px solid #EBEDED;
  border-left: none;
  border-right: none;
}

.article__title {
  width: 360px;
}

.article__title h1 {
  font-size: 24px;
  margin-top: 20px;
}

.article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__wrapper article {
  width: 360px;
}

.article__left {
  margin: 0 40px;
}

.article__right .time {
  margin-top: 20px;
}

.big-article {
  padding-top: 40px;
  padding-bottom: 160px;
  background: #F6F8F9;
}

.big-article__article {
  padding: 40px 0;
  border-bottom: 2px solid #EBEDED;
}

.big-article__article article {
  width: 760px;
  font-size: 14px;
  line-height: 1.5;
  color: #A6ADB4;
}

.big-article__article article:nth-child(2) {
  padding: 40px 0;
}

.big-article__article article:nth-child(3) {
  display: none;
}

.big-article__pages {
  display: none;
}

.big-article__pages img {
  cursor: pointer;
}

@media (max-width: 1175px) {
  .worldNews__inner {
    margin: 0 80px;
  }
  .worldNews__title {
    position: relative;
  }
  .worldNews__title .filter {
    display: block;
    position: absolute;
    right: 0;
    padding: 12px;
    padding-bottom: 9px;
    border-radius: 10px;
    border: 1.5px solid #A6ADB4;
    background-color: #f3f4f5;
  }
  .worldNews__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .worldNews__left {
    width: 100%;
  }
  .worldNews__left--img {
    width: 100%;
  }
  .worldNews__left--img img:nth-child(1) {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .worldNews__left--img h1 {
    font-size: 32px;
  }
  .worldNews__right {
    height: auto;
    padding: 87px 81px;
  }
  .article__inner {
    margin: 0 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article__wrapper {
    margin-top: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .article__wrapper article {
    font-size: 14px;
    width: 100%;
  }
  .article__left {
    width: 50%;
    margin-left: 0;
  }
  .article__right {
    width: 50%;
  }
  .big-article {
    padding-bottom: 80px;
  }
  .big-article__inner {
    padding: 0 80px;
  }
  .big-article--img {
    width: 100%;
  }
  .big-article--img img {
    width: 100%;
  }
  .big-article__article article {
    width: 100%;
  }
  .big-article__pages {
    display: block;
    margin-top: 36px;
  }
  .big-article__pages ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .big-article__pages ul li {
    margin-right: 24px;
    text-align: center;
    font-size: 11px;
    color: #A6ADB4;
  }
  .big-article__pages ul .onsite {
    position: relative;
    color: black;
  }
  .big-article__pages ul .onsite::before {
    content: ' ';
    position: absolute;
    bottom: -11px;
    left: -2px;
    width: 15px;
    height: 2px;
    background-color: #FA6980;
  }
  .footer {
    display: block;
  }
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
  .worldNews {
    padding-top: 1px;
  }
  .worldNews__inner {
    margin: 0;
  }
  .worldNews__title {
    margin: 17px 16px;
  }
  .worldNews__title__wrapper {
    display: none;
  }
  .worldNews__title .arrow-back {
    display: block;
  }
  .worldNews__title .filter {
    border: 0;
    background: transparent;
  }
  .worldNews__left--text h3 {
    margin-bottom: 30px;
  }
  .worldNews__right {
    padding: 36px 24px;
  }
  .article__inner {
    padding: 40px 24px;
    margin: 0;
  }
  .article__title {
    width: 100%;
  }
  .article__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #A6ADB4;
  }
  .article__left {
    width: 100%;
    margin-bottom: 35px;
  }
  .article__right {
    width: 100%;
  }
  .big-article__inner {
    padding: 0 24px;
  }
  .big-article__article article:nth-child(3) {
    display: block;
    color: #202124;
    font-size: 16px;
  }
  .footer {
    display: none;
  }
}
/*# sourceMappingURL=worldnews.css.map */