@font-face {
   font-family: 'BPG Arial';
   src: url('../fonts/BPGArial.eot');
   src: url('../fonts/BPGArial.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BPGArial.woff2') format('woff2'),
       url('../fonts/BPGArial.woff') format('woff'),
       url('../fonts/BPGArial.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'BPG Nino Mtavruli';
   src: url('../fonts/BPGNinoMtavruli-Bold.eot');
   src: url('../fonts/BPGNinoMtavruli-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BPGNinoMtavruli-Bold.woff2') format('woff2'),
       url('../fonts/BPGNinoMtavruli-Bold.woff') format('woff'),
       url('../fonts/BPGNinoMtavruli-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}
@font-face {
    font-family: "helvetica";
    src: url("/fonts/Helvetica.ttf");
}