@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff2') format('woff2'),
        url('/fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica-Bold.woff2') format('woff2'),
        url('/fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

