body {
    position: relative;
    font-family:Helvetica;
    font-size: 16px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

// containers
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.container-sm{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.title{
    font-size:24px;
    font-family: helvetica;
    text-transform: uppercase;
    color: $titleBlack;
}

// header
.header{
    position: fixed;
    top:0;
    right: 0;
    left:0;
    position: fixed;
    z-index: 1;
    background: $bgGrey;
    transition: all ease 0.4s;
    &__inner{
       display: flex;
       background: $bgGrey;
       justify-content: space-between;
       align-items: center;
 
       padding: 0 20px;
    }
    &__burger{
       display: none;
       cursor: pointer;
    }
    &__logo{
       h1{
          font-size: 13px;
          font-family: helvetica;
          color:$red;
       }
    }
 
    &__nav{
       display: flex;
       align-items: center;
       &__wrapper{
          display: flex;
 
          margin-right: 43px;
          
          &--link{
             padding: 19px 10px;
 
             font-size:11px;
             font-family: Helvetica;
             text-transform: uppercase;
             font-weight: bold;
             color:$black;
             opacity: 50%;
          }
          .active{
             opacity: 100%; 
          }
       }
    }
    &__profile{
       img{
          cursor: pointer;
       }
    }
    .mini-menu{
       position: fixed;
       width: 287px;
       height: 100vh;
       top:0;
       left:-300px;
 
       background-color: $bgGrey;
       transition: all ease 0.3s;
       .burgerAndLogo{
          display: flex;
          padding-left:40px;
          padding-top: 38px;
          .header__logo{
             margin-left: 40px;
          }
       }
       .header__nav__wrapper{
          height: 55vh;
          padding-top: 90px;
          padding-bottom: 150px;
          padding-left:40px;
          flex-direction: column;
          justify-content: center;
          a{
             display: flex;
          }
       }
       .footer__ul__wrapper{
          height: 30vh;
          background: black;
          margin-left: 0;
          margin-left: 0;
          padding-left:40px;
          padding-top: 58px;
          opacity: 25%;
          .ul{
             li{
                font-size:11px;
                margin-bottom: 30px;
             }
          }
          &__second{
             margin: 0;
             margin-right: 50px;
          }
       }
       .footer__socials{
          justify-content: flex-start;
          height: 15vh;
          background-color: black;
          opacity: 25%;
          margin-left: 0;
          padding-left: 40px;
          padding-top:20px;
       }
    }
    .mini-menu.active{
       left:0;
       filter: drop-shadow(0px 0px 60px $grey);
    }
 }
 .header.scroll{
    filter: drop-shadow(1px 1px 10px #A6ADB4);
}


// footer
.footer{
    background: $grey;
    &__inner{
       display: flex;
       justify-content: space-between;
 
       padding-top: 54px;
       padding-bottom: 60px;
    }
    &__logoAndUl{
       display: flex;
    }
    &__logo{
       h1{
         font-family: acumin;
         color:white;
         font-size:13px;
         font-weight: bold;
         text-transform: uppercase;
       }
    }
    &__ul__wrapper{
       display: flex;
 
       margin-left: 61px;
       .ul{
          li{
             margin-bottom: 8px;
 
             color:$footerColor;
          }
          
       }
       &__second{
          margin: 0 40px;
       }
    }
    &__input{
       position: relative;
       input{
          width: 262px;
          padding: 15px 20px;
 
          background: $grey;
          border:white 2px solid;
          border-radius: 5px;
          border-color:darken(white,25%);
          &::placeholder{
             opacity: 50%;
          }
       }
       img{
          position: absolute;
          top:17px;
          right: 12px;
 
          cursor: pointer;
       }
       p{
          font-size:11px;
          color: $footerColor;
          margin-top: 16px;
       }
    }
    &__socials{
       img{
          margin-right: 32px;
       }
    }
 }

// mini things
.arrow-wrapper{
    position: absolute;
    top:0;
    right:-20px;

    img{
       margin:0 20px;
       cursor: pointer;
    }
    @media (max-width:768px){
         right: -10px;
         img{
             margin: 0 10px;
         }
     }
}


.time{
    display: flex;
    align-items: center;
    color:$grey;
    span{
       font-size:13px;
       margin-left: 10px;
    }
}


@media (max-width:1440px) {
    .footer{
        &__inner{
            margin:0 80px;
            flex-direction: column;
        }
        &__logoAndUl{
            justify-content: space-between;
        }
        &__input{
            width: 262px;
        }
        &__socials{
            display: flex;
            justify-content: flex-end;
        }
    }
}
@media (max-width:768px) {
    .header{
       padding: 10px 0;
        &__burger{
            display: block;
        }
        &__nav__wrapper{
            display: none;
        }
    }
    .footer{
        display: none;
    }
    .mini-menu{
        .header__nav__wrapper{
            display: flex;
        }
    }
}
