// tablet
@media (max-width:1400px) {
    .news{
        &__inner{
            flex-direction: column;
        }
        &__main{
            &--img{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        &__more{
            position: relative;
            margin:100px;
            top:0;
            right: 0;
            &__article{
                &__wrapper{
                    padding-right: 20px;
                }
            }
            .line{
                width: 100%;
            }
        }
    }
    .trending{
        justify-content: center;
        &__inner{
            margin: 0 80px;
        }
        &__wrapper{
            flex-wrap: wrap;
            &__card{
                width: 284px;
                &--img{
                    img{
                       width: 284px;
                    }
                }
            }
        }
    }
    .happening{
        &__inner{
            margin:0 80px;
        }
        &__img{

            &__wrapper{
                flex-direction: column;
                flex-wrap: nowrap;
                &__big{
                    &__item{
                        &--img{
                            width: 100%;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
                &__small{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    margin-left:0;
                    margin-right: 0;
                    &__item{
                        &--img{
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
    .footer{
        &__inner{
            margin:0 80px;
            flex-direction: column;
        }
        &__logoAndUl{
            justify-content: space-between;
        }
        &__input{
            width: 262px;
        }
        &__socials{
            display: flex;
            justify-content: flex-end;
        }
    }
    .two-article-wrapper{
        display: flex;
        justify-content: space-between;
    }
}


// mobile

@media (max-width:768px) {
    .header{
        &__burger{
            display: block;
        }
        &__nav__wrapper{
            display: none;
        }
    }
    .header.active{
        position:fixed;
        width: 287px;
        height: 100vh;
        filter: drop-shadow(0 0 60px $grey);
        z-index: 1;
        animation-name: header;
        animation-duration: 0.3s;
        @keyframes header {
            from {margin-left: -300px;}
            to {margin-left: 0}
          }
        .header__burger{
            display: block;
            margin-top: 8px;
        }
        .header__logo{
            h1{
                margin-top: 8px;
                color:$grey;
            }
            
        }
        .header__profile{
            position: absolute;
            display: flex;
            align-items: center;
            top: 340px;
            left: 40px;
            width: 10px;
            img:nth-child(1){
                display: block;
                margin-right: 30px;
            }
            img:nth-child(2){
                display: none;
            }
            a{
                display: inline-block;
            }
        }
        .header__nav{
            animation-name: nav;
            animation-duration: 0.7s;
            &__wrapper{
                display: flex;
                position: absolute;
                top:140px;
                left: 40px;
                flex-direction: column;
                a{
                    display: flex;
                    img{
                        display: block;
                        margin-right: 30px;
                    }
                }
            }
        }
    }
    .news{
        padding-top:34px;
        &__main{
            height: 60vh;
            &--img{
                img{
                    height: 60vh;
                }
            }
            &__wrapper{
                width: 90%;
                .line{
                    width: 100%;
                }
            }
        }
        &__more{
            margin:40px 20px;
        }
    }
    .trending{
        &__inner{
            margin:0 24px;
        }
        &__wrapper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__card{
                width: 100%;
                margin-bottom: 40px;
                &--img{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .happening{
        padding-bottom: 24px;
        &__inner{
            margin:0 24px;
        }
        &__img__wrapper{
            &__big__item{
                &--img{
                    img{
                        height: 300px;
                    }
                }
                &__title{
                    top:24px;
                    left:24px;
                    right: 24px;
                }
                &__article{
                    left:24px;
                    right: 24px;
                    bottom: 40px;
                }
            }
            &__small{
                flex-direction: column;
                justify-content: center;
                &__item:nth-child(3){
                    display: block;
                }
                &__item{
                    &--img{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    
                }
            }
        }
    }
    .footer{
        display: none;
    }
    .footer.active{
        display: block;
        z-index: 2;
        position: fixed;
        height:30vh;
        width: 287px;
        bottom: 0;
        animation-name:footer;
        animation-duration: 0.3s;
        @keyframes footer {
            from {margin-left: -300px;}
            to {margin-left: 0}
          }
        .footer__inner{
            margin: 0;
            position: absolute;
        }
        .footer__logo{
            display: none;
        }
        .footer__ul__wrapper{
            margin-left: 0;
            &__first{
                display: none;
            }
        }
        
        .footer__input{
            display: none;
        }
        .footer__socials{
            margin-top:5vh;
        }
    }
}
@media (max-width:540px) {
    .news{
        &__more{
            .two-article-wrapper{
                flex-direction: column;
            }
            &__article{
                &__wrapper:nth-child(2){
                    margin-bottom:0;
                }
            }
        }
    }
}

